@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 242 73% 58%; /* Updated to #4f46e5 */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 242 73% 58%; /* Updated to #4f46e5 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 242 73% 58%; /* Updated to #4f46e5 */
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 242 73% 58%; /* Updated to #4f46e5 */
  }
}


  /* body {
    font-family: sans-serif;
  } */
  
.card {
  @apply rounded-lg border border-gray-200 bg-white/20 shadow-sm backdrop-blur-md;
}
.shad-input-label {
  @apply text-sm font-medium text-gray-700 dark:text-gray-300;
}
.shad-input {
  @apply flex h-9 w-full rounded-md border border-gray-300 bg-transparent px-3 py-1 text-sm shadow-sm placeholder:text-gray-500 transition-colors focus:outline-none focus:ring-2  dark:border-gray-600 dark:bg-transparent dark:text-white dark:placeholder-gray-400 ;
}
.shad-input-icon {
  @apply flex items-center justify-center h-11 w-11 rounded-md border border-gray-300 bg-white text-gray-600 dark:border-gray-600 dark:bg-transparent dark:text-white;
}
.shad-textArea {
  @apply flex w-full rounded-md border border-gray-300 bg-transparent px-3 py-1 text-sm shadow-sm placeholder:text-gray-500 transition-colors focus:outline-none focus:ring-2  dark:border-gray-600 dark:bg-transparent dark:text-white dark:placeholder-gray-400 ;
}

.date-input{
  @apply flex h-11 w-full rounded-md border border-slate-200 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-slate-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-800 dark:bg-slate-950 dark:ring-offset-slate-950 dark:placeholder:text-slate-400 dark:focus-visible:ring-slate-300;
}

.shad-dialog button {
  @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.shad-error {
  @apply text-red-400 !important;
}

.shad-table {
  @apply rounded-lg overflow-hidden !important;
}
.shad-otp {
  @apply w-full flex justify-between !important;
}

.shad-otp-slot {
  @apply text-3xl justify-center flex border  rounded-lg size-16 gap-4 !important;
}

.shad-alert-dialog {
  @apply space-y-5 bg-white  outline-none !important;
}

.shad-sheet-content button {
  @apply top-2 focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.input-phone {
  @apply mt-2 h-11 rounded-md px-3 text-sm border bg-white  ;
}

.date-picker {
  @apply overflow-hidden border-transparent w-full;
}

.btn-primary {
  @apply bg-teal-500 text-white border-transparent;
  background-color: #3fc1c9; 
}
.text-active {
  color: #00c8ab;
}
.border-active {
  border-color: #00c8ab;
}
.link-underline {
  @apply relative;
}

.status-badge{
  @apply flex justify-center items-center rounded-md p-1 gap-1 text-white;
}
.link-underline::after {
  content: "";
  @apply absolute left-0 bottom-[-2px] w-full h-1 bg-teal-500 rounded-sm;
  background-color: #00c8ab;
}
h1 {
  @apply text-3xl font-extrabold uppercase bg-gradient-to-r from-green-400 to-teal-400 bg-clip-text text-transparent ml-1 mt-2 mb-1 transition-all duration-200;
}
  /* ==== File Upload */


  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center ;
  }

  /* ==== Stat Card */
  .stat-card {
    @apply flex flex-1 flex-col gap-6 rounded-lg border bg-cover p-6;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-full max-w-28  items-center gap-2 rounded-md px-4 py-2;
  }

  /* Data Table */
  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border;
  }

  .table-actions {
    @apply flex w-full items-center justify-center border-t-2 space-x-2 p-4;
  }

.title-font-size{
  @apply text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-left dark:text-white;
}

.border-active {
  border-color: #00c8ab;
}

.cl-internal-b3fm6y,
.cl-internal-uyu30o,
.dev-banner,
.cl-internal-11ttlho:has(div:only-child),
.cl-internal-180wb59:has(div:only-child) {
  @apply hidden !important;
}
.cl-internal-17ydaof,
.cl-internal-19xp6v9 {
  @apply shadow-md !important;
}

.cl-internal-ttumny {
  @apply bg-indigo-600 border-indigo-600 text-white shadow-none;
}

/* Header title */
.cl-headerTitle {
  @apply text-xl font-extrabold bg-gradient-to-r from-green-400 to-teal-400 bg-clip-text text-transparent transition-all duration-200;
}

.cl-internal-ttumny[data-variant="solid"][data-color="primary"] {
  box-shadow: none !important;
}
.cl-internal-ttumny[data-variant="solid"][data-color="primary"]:hover {
  --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.z-1000{
  z-index: 1000 !important;
  
}

.data-\[disabled\]\:pointer-events-none[data-disabled] {
  pointer-events: visible !important;
}

.cl-internal-qk5yrq {
  /* box-shadow: none !important; */
  /* border: 1px solid #ccc !important; */
}

.shad-danger-btn {
  @apply bg-red-700 text-white !important;
}

.cl-internal-8bykxp {
  width: 275px !important;
}
